{% extends "base_logreg.html" %}
{% block title %}<title>Sign Up Form</title>{% endblock %}

{% load static %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_logreg_styles.css' %}">
{% endblock %}


{% block content %}
    {% if form.errors %}
        <p>Your username and password combination were not found.  Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user_.is_authenticated %}
            <p>Your account doesn't have access to this page.  Please contact an administrator if you think this may be an error.</p>
        {% else %}
            <p>Access denied: Please login.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> Uncomment this when you setup the password_reset view -->
    
{% endblock %}